<h2>New book</h2>
<%# ifでエラー分岐とform_forメソッドで記述 %>
<%# book's'のPOSTメソッドでcreateアクションが実行されるので(複数形),url:オプションにて指定する %>
<%= form_for(book, url: books_path) do |f| %>
<% if book.errors.any? %>
    <ul>
        <%= book.errors.count %><span>error prohibited this obj from being saved</span>
        <% book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

    <%# <p><strong>Title</strong></p> %>
    <div class="field_row">
        <label>Title</label>
        <%= f.text_field :title, class: "form-control" %>
    </div>

    <%# <p><strong>Opinion</strong></p> %>
    <div class="field_row">
        <label>Opinion</label>
        <%= f.text_area :body, :class => "form-control" %>
    </div>
    <div class="field_row create-btn">
        <%# <button type="submit", class="btn btn-primary btn-block"><%= f.submit 'Create Book' %>
        <%= f.submit "Create Book", :class => "btn btn-primary btn-block" %>
    </div>
<% end %>