<%# 入力フォームを作成　エラーメッセージの実装も忘れずに！ %>
<div class="container">
    <div class="row">
        <div class="col-12">

            <h1>Editing Book</h1>

            <%= form_for(@book) do |f| %>
                <% if @book.errors.any? %>
                    <%= @book.errors.count %><span>error prohibited this obj from being saved</span>
                        <ul>
                            <% @book.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                <% end %>

                    <p><strong>Title</strong></p>
                    <%= f.text_field :title %>

                    <p><strong>Opinion</strong></p>
                    <%= f.text_area :body %>

                    <p><%= f.submit "Update Book" %></p>
            <% end %>
        </div>
    </div>
</div>